<%- include('../partials/header') %>

<div class="login-page">
  <h1>Odin Book</h1>
  <p>A Twitter/X clone built with Node.js</p>
  <a href="/auth/github" class="btn-github">
    Sign in with GitHub
  </a>
</div>

</body>
</html>